.card{
    padding: 1em;
}
.margin{
    margin-top: 1em;
}
P{
    margin-bottom: 0em;
    color: #262626;
}
.prName{
    font-family: LemonMilk;
    font-size: 1.5em;
}
.prPrice{
    font-size: 1.25em;
}
.prDet{
    font-size: 1em;
}