<div class="container-fluid home-body">  
    <h2 class="text-center">EDIT ACCOUNT</h2>  
    <div class="row content">
  
      <div class="col-sm-3">
        <h5>BETTY GO</h5>
        <img src="http://icons.iconarchive.com/icons/hopstarter/halloween-avatar/1024/Pennywise-icon.png" class="img-responsive" style="width:100%" alt="Image">  
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
  
  
      <div class="col-sm-6">      
        <form action="/action_page.php">
            <div class="row">

            
          <div class="form-group col-sm-6">
            <label for="text">Name</label>
            <input type="text" class="form-control" id="name" value="Betty Go">
          </div>
          <div class="form-group col-sm-6">
            <label for="uname">Username:</label>
            <input type="text" class="form-control" id="uname" value="BETTY">
          </div>
          <div class="form-group col-sm-6">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" value="betty@yahoo.com">
          </div>
          <div class="form-group col-sm-6">
            <label for="role">Role:</label>
              <select class="form-control" id="role">
                <option>Admin</option>
                <option>Manager</option>
                <option>View</option>
              </select>
          </div>
          <div class="form-group col-sm-6">
            <label for="contum">Contact Number:</label>
            <input type="text" class="form-control" id="contum" value="09781329433">
          </div>
          <div class="form-group col-sm-6">
            <label for="addr">Address:</label>
            <input type="text" class="form-control" id="addr" value="Manila">
          </div>
          <div class="form-group col-sm-6">
            <button type="submit" class="btn btn-black">Save</button>
          </div>
        </div>
        </form>
      </div>
  
      <div class="col-sm-3 container" >
        <h5>LOGIN HISTORY</h5>
        <ul class="list-group">
          <li class="list-group-item">08/20/20 9:31 pm</li>
          <li class="list-group-item">07/04/20 9"08 am</li>
          <li class="list-group-item">07/29/20 4:15 pm</li>
          <li class="list-group-item">08/21/20 10:01 am</li>
        </ul>
      </div>
  
    </div>
  </div>