<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
<table class="table table-bordered" formArrayName="quantities">
    <tr>
        <th colspan="3">Black:</th>
        <th > <svg (click)="addQuantity()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg> </th>
    </tr>
    <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
    <td>
        Size :
        <input type="text" formControlName="qty" class="form-control">
    </td>
    <td>
        Stock:
        <input type="text" formControlName="price" class="form-control">
    </td>
    <td>
        Price:
        <input type="text" formControlName="price" class="form-control">
    </td>
    <td>
        <svg (click)="removeQuantity(i)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
    </td>
    </tr>
</table>  
</form>